.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    height: 600px;
    background-image: url(../../../images/img22.jpeg);
    justify-content: center;
    align-items: center;
    margin-left: 230px;
    margin-top:  160px;
}
.edit{
    background-color: rgba(250, 235, 215, 0.639);
    width: 780px;
    height: 400px; 
}
input {
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    background-color: white;
    color: black;
    margin-top: 20px;
    padding: 10px;
}
h1 {
    font-size: 18px;
    margin-top: 44px;
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.887);
}
.edit1 {
    width:45%;
    height: fit-content;
    float: left;
    margin:40px 44px;
}
.edit2 {
    width:40%;
    height: fit-content;
    float: right;
    margin-top: 140px;
}
.box {
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 15px;
    width: 230px;
    height: 30px;
    color: white;
    text-align: center;
}
.box2{
    background-color: rgba(250, 235, 215, 0.639);
    border-radius: 15px;
    width: 230px;
    height: 30px;
    color: black;
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.81);
    padding-top: 7px;

}